.giving-form {
width: 100%;
background: url(https://dl.dropboxusercontent.com/u/64133716/Homepage/top-images/yes.jpg) no-repeat center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.giving-form .jumbotron {
margin-top: 33%;
margin-bottom: 150px;
background-color: rgba(255, 255, 255, 0.8);
}

.formstack {
margin-top: 100px;
margin-bottom: 50px;
}