.micro-topbuffer {
margin-top:80px;
}

@media (max-width: 800px) {
  .micro-topbuffer {
   margin-top:50px;
}
}

.micro-classifications .img-circle {
  padding: 12%;
}

.micro-classifications h3 {
  text-align: center;
}

.micro-classifications a {
  text-align: center;
}
