.micro-topbuffer {
margin-top:80px;
}

@media (max-width: 800px) {
  .micro-topbuffer {
   margin-top:50px;
}
}

.micro-classifications .img-circle {
  padding-top: 5%;
  padding-right: 12%;
  padding-bottom: 5%;
  padding-left: 12%;
}

.micro-classifications h4, .micro-classifications h3, .micro-classifications h1, .micro-classifications p {
  text-align: center;
}
