.top-image {
max-height: 800px;
overflow-y: hidden;
position:relative;
}

.top-image img{
z-index: 0;
width: 100%;
}

.top-image-overlay {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-color: rgba(255,255,255,0.0);
}

.top-image-caption {
position: absolute;
top: 80%;
font-size: 25px;
z-index: 0;
text-align: center;
width: 100%;
}

.top-image-caption  p.lead {
font-size: 40px;
padding: 20px;
text-decoration: none;
text-align: center;
color: black;
margin-bottom: 0;
}

.top-image-caption  .thumbnail {
opacity: 0.7;
}

.top-image-caption  .thumbnail:hover {
opacity: 0.9;
}

@media (max-width: 800px) {
	.top-image-caption  p.lead {
	font-size: 20px;
	padding: 10px;
	}
	.top-image-caption {
	top: 70%;
	}
}