<div class="top-video">
	<img src="https://dl.dropboxusercontent.com/u/64133716/Homepage/top-images/yes.jpg" class="img-responsive" />
	<div class="top-video-overlay"></div>
	<div class="top-video-play">
		<a href="#" data-toggle="modal" data-target="#top-video-modal">
			<span class="fa fa-play-circle-o"></span>
		</a>
	</div><!-- top-video-play -->
	<div class="top-image-caption">
		<div class="col-md-6 col-md-offset-3 thumbnail">
					<a href="http://fredonia.edu/commencement"><p class="lead">Congratulations class of 2015!</p></a>
		</div><!-- thumbnail -->
	</div>
</div><!-- top-video -->

<!-- Modal -->
<div class="modal fade" id="top-video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      	<a href="#" ><span class="fa fa-times modal-close pull-right" data-dismiss="modal"></span></a>
        <!-- TOP VIDEO -->
		  <iframe class="modal-video" src="https://www.youtube.com/embed/dMcBL0hrRtg?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>