---
layout: page
---





{% include admissions/top-image.html %}

{% include admissions/fast-facts.html %}

{% include admissions/classifications.html %}



<div class="container thumbnail" style="margin-top:10px;">
	<div class="col-md-6">
		<h3>You have to experience this place</h3>
		<hr>
		<p class="lead">There are <b>100+</b> opportunities to visit this summer. Enjoy a 90 minute walking tour of our beautiful campus and an information session with an admissions counselor.</p>
		<li><p class="lead"><b><i>First-year students,</i></b> take a look at our <a href=https://fredonia.askadmissions.net/portal/ei/search" class-"btn btn-diffult">calendar</a> to schedule your visit.</p></li>
		<li><p class="lead"><b><i>Transfer students,</i></b> give us a call at 800-252-1212 or email admissions@fredonia.edu so we can personally schedule your visit with a transfer counselor.</p></li>
		<a href="#" data-toggle="modal" data-target="#openHousesModal" class="btn btn-primary">Open House Events</a>
		<h3>Group Visits and Tours</h3>
		<h3>Saturday Visits</h3>
	</div><!-- col-md-6 -->
	

	<div class="col-md-6">
		{% include maps.html %}
	</div><!-- col-md-6 -->
</div><!-- container -->

<iframe width="100%" height="600px" src="http://app.orbitist.com/nearest/445" frameborder="0" allowfullscreen></iframe>

{% include bottom-navbars/admissions.html %}

{% include admissions/modals.html %}
