---
layout: page
---





{% include admissions/top-image.html %}

{% include admissions/fast-facts.html %}

{% include admissions/classifications.html %}



<div class="container thumbnail" style="margin-top:10px;">
	<div class="col-md-6">
		<h3>You have to experience this place</h3>
		<hr>
		<li><p class="lead">500+ opportunities to visit this summer!</p></li>
		<li><p class="lead">Another readon.</p></li>
		<li><p class="lead">And more!</p></li>
	</div><!-- col-md-6 -->
	<div class="col-md-6">
		{% include maps.html %}
	</div><!-- col-md-6 -->
</div><!-- container -->

{% include bottom-navbars/admissions.html %}

{% include admissions/modals.html %}