---
layout: page
---





{% include admissions/top-image.html %}

{% include admissions/fast-facts.html %}

{% include admissions/classifications.html %}



<div class="container thumbnail" style="margin-top:10px;">
	<div class="col-md-6">
		<h3>You have to experience this place</h3>
		<hr>
		<li><p class="lead">100+ opportunities to visit this summer. Enjoy a 90 minute walking tour of campus and an information session!</p></li>
		<li><p class="lead">First-year students, take a look at our <a href=https://fredonia.askadmissions.net/portal/ei/search" class-"btn btn-diffult">calendar </a> to schedule your visit.</p></li>
		<li><p class="lead">Transfer students, give us a call at 800-252-1212 or email admissions@fredonia.edu so we can personally schedule your visit with a transfer counselor.</p></li>
	</div><!-- col-md-6 -->
	
	<div class="col-md-6">
		{% include maps.html %}
	</div><!-- col-md-6 -->
</div><!-- container -->

<iframe width="100%" height="600px" src="http://app.orbitist.com/nearest/445" frameborder="0" allowfullscreen></iframe>

{% include bottom-navbars/admissions.html %}

{% include admissions/modals.html %}
