<a id="getstarted"></a>
<!-- CLASSIFICATIONS -->
<div class="micro-classifications">
	<div class="container">
		<div class="row">
			<div class="micro-heading">
      			<h1>Fredonia Admissions</h1>
      			<p>Come to Fredonia! Because... we're awesome!</p>
    		</div><!-- micro-heading -->
  		</div><!-- row -->
  		<div class="row">
  		
			<!-- FIRST YEAR -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#freshmanModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="http://www.fredonia.edu/admissions/images/landing/freshman.jpg" />
						</div><!-- micro-classifications-image -->
						<p class="lead">First-year</p>
						<p>This is some content about being a first-year student</p>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->
			
			<!-- Transfer -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#transferModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="http://www.fredonia.edu/admissions/images/landing/freshman.jpg" />
						</div><!-- micro-classifications-image -->
						<h3>Transfer</h3>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->

			<!-- FIRST YEAR -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#freshmanModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="http://www.fredonia.edu/admissions/images/landing/freshman.jpg" />
						</div><!-- micro-classifications-image -->
						<h3>First-year</h3>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->

			<!-- FIRST YEAR -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#freshmanModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="http://www.fredonia.edu/admissions/images/landing/freshman.jpg" />
						</div><!-- micro-classifications-image -->
						<h3>First-year</h3>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->

			<!-- FIRST YEAR -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#freshmanModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="http://www.fredonia.edu/admissions/images/landing/freshman.jpg" />
						</div><!-- micro-classifications-image -->
						<h3>First-year</h3>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->

			<!-- FIRST YEAR -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#freshmanModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="http://www.fredonia.edu/admissions/images/landing/freshman.jpg" />
						</div><!-- micro-classifications-image -->
						<h3>First-year</h3>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->
     
  		</div><!-- row -->
	</div><!-- container -->
</div><!-- micro-classifications -->