<!-- CLASSIFICATIONS -->
<div class="micro-classifications">
  <div class="container">
  <div class="row">
    <div class="micro-heading">
      <h1>Fredonia Admissions</h1>
      <p>Come to Fredonia! Because... we're awesome!</p>
    </div><!-- micro-heading -->
  </div><!-- row -->
  <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail">
        <img src="http://www.fredonia.edu/admissions/images/landing/freshman.jpg" class="img-responsive img-rounded" />
		<a href="#" data-toggle="modal" data-target="#freshmanModal">
			<div class="overnail">
				<h3>Freshman <small><span class="fa fa-external-link"></span></small></h3>
			</div><!-- overnail -->
		</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="thumbnail">
        <img src="http://www.fredonia.edu/admissions/images/landing/transfers.jpg" class="img-responsive img-rounded" />
        <div class="overnail">
        	<h3>Transfer <small><span class="fa fa-external-link"></span></small></h3>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="thumbnail">
        <img src="http://www.fredonia.edu/admissions/images/landing/international.jpg" class="img-responsive img-rounded" />
        <div class="overnail">
        	<h3>International <small><span class="fa fa-external-link"></span></small></h3>
        	</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="thumbnail">
        <img src="http://www.fredonia.edu/admissions/images/landing/freshman.jpg" class="img-responsive img-rounded" />
        <div class="overnail">
        	<h3>Freshman <small><span class="fa fa-external-link"></span></small></h3>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="thumbnail">
        <img src="http://www.fredonia.edu/admissions/images/landing/transfers.jpg" class="img-responsive img-rounded" />
        <div class="overnail">
        	<h3>Transfer <small><span class="fa fa-external-link"></span></small></h3>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="thumbnail">
        <img src="http://www.fredonia.edu/admissions/images/landing/international.jpg" class="img-responsive img-rounded" />
        <div class="overnail">
        	<h3>International <small><span class="fa fa-external-link"></span></small></h3>
        	</div>
        </div>
      </div>
  </div><!-- row -->
  </div><!-- container -->
</div><!-- micro-classifications -->