<a id="getstarted"></a>
<!-- CLASSIFICATIONS -->
<div class="micro-classifications">
	<div class="container">
		<div class="row">
			<div class="micro-heading">
      			<h1>Fredonia Admissions</h1>
      			<p>What type of student are you?</p>
    		</div><!-- micro-heading -->
  		</div><!-- row -->
  		<div class="row">
  		
			<!-- FIRST YEAR -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#freshmanModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="http://www.fredonia.edu/admissions/images/landing/freshman.jpg" />
						</div><!-- micro-classifications-image -->
						<p class="lead">First-Year</p>
						<p>This is your first time attending college.</p>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->
			
			<!-- Transfer -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#transferModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="https://dl.dropboxusercontent.com/u/64133716/Homepage/admissions/transfer.jpg" />
						</div><!-- micro-classifications-image -->
						<p class="lead">Transfer</p>
						<p>You previously attended a college or university and wish to attend Fredonia.</p>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->

			<!-- GRADUATE -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#graduateModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="https://dl.dropboxusercontent.com/u/64133716/Homepage/admissions/graduate.jpg" />
						</div><!-- micro-classifications-image -->
						<p class="lead">Graduate</p>
						<p>You have a bachelor's degree and are looking to achieve your master's degree.</p>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->

			<!-- INTERNATIONAL -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#internationalModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="https://dl.dropboxusercontent.com/u/64133716/Homepage/admissions/international.jpg" />
						</div><!-- micro-classifications-image -->
						<p class="lead">International</p>
						<p>You are a citizen of a country outside of the United States of America.</p>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->

			<!-- LIFELONG LEARNING -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#lifelongLearningModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="https://dl.dropboxusercontent.com/u/64133716/Homepage/admissions/lifelong.jpg" />
						</div><!-- micro-classifications-image -->
						<p class="lead">Lifelong Learning</p>
						<p>You wish to take non-degree seeking courses for personal enrichment.</p>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->

			<!-- READMISSION -->
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="#" data-toggle="modal" data-target="#readmissionModal">
					<div class="thumbnail">
						<div class="micro-classifications-image">
							<img src="https://dl.dropboxusercontent.com/u/64133716/Homepage/admissions/readmission.jpg" />
						</div><!-- micro-classifications-image -->
						<p class="lead">Readmission</p>
						<p>You've attended Fredonia before and wish to return.</p>
					</div><!-- thumbnail -->
				</a>
			</div><!-- col-md-4 col-sm-4 col-xs-6 -->
     
  		</div><!-- row -->
	</div><!-- container -->
</div><!-- micro-classifications -->
