<img src="https://static.askadmissions.net/fredonia/usermedia/templates/Universal/photo12.jpg" class="img-responsive"/>

<hr>
<h1>Chapter 1: Visiting Fredonia</h1>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Visit</p>
<p>We believe Fredonia needs to be experienced. If you are curious about us, there are many opportuntities to help you discover if Fredonia is the right place for you.</p>
<li><a href="#">Daily Weekday Visits</a></li>
<li><a href="#">Select Saturday Visits</a></li>
<li><a href="#">Open House Events</a></li>
<li><a href="#">Group Visits and Tours</a></li>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Visit</p>
<p>A paragraph about what we're talking about</p>
<ul>
	<li>Item</li>
	<li>Item</li>
	<ul>
		<li>Item</li>
		<li>Item</li>
	</ul>
	<li>Item</li>
</ul>

<hr>

<h1>Chapter 2: The Application Process at Fredonia</h1>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Apply</p>
<p>Once you've decided Fredonia could be the place for you, you may begin to apply the first week in August. </p>
<ul>
	<li>Complete the Application (SUNY Application OR Common Application)</li>
	<li>Personal Essay (SUNY Application Part II)</li>
	<li>Official High School Transcripts</li>
	<li>SAT and/or ACT Scores (from the Testing Center or High School)</li>
	<ul>
		<li>CEEB Code and SAT Code: 2539</li>
		<li>ACT Code: 2934</li>
	</ul>
	<li>At least (1) Letter of Recommendation</li>
</ul>
<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Early Decision</p>
<p>If you are 100% sure Fredonia is the place for you, you may guarentee your spot by applying Early Decision.</p>
<li>Select Early Decision on the application</li>
<li>Must complete application by Novemeber 1st</li>
<li>Must pay deposit by January 15th</li>
<li>Once a student is admitted through Early Decision, they are asked to withdraw all other college applications, as Early Decision is a binding agreement. </li>
<li>Item</li>
<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Supplemental Requirements</p>
<p>Some academic majors require an additional step in the application process.</p>
<p><i>Audition:</i></p>
<li><a href="http://www.fredonia.edu/music/prospective.asp">School of Music</a></li>
<li><a href="http://www.fredonia.edu/department/theatredance/audition.asp">Department of Theatre and Dance</a></li>

<p><i>Portfolio submission:</i></p>
<li><a href="http://www.fredonia.edu/department/art/admissions.asp">Visual Arts and New Media Department</a></li>

