<h1>Chapter 1: The Adventure Begins</h1>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Visit</p>
<p>We believe Fredonia needs to be experienced. If you are wondering what it's like to be a student here, there are lots of options to find out.</p>
<li>Item with a <a href="#">link</a></li>
<li>Daily Weekday Visits</li>
<li>Select Saturday Visits</li>
<li>Open House Events</li>
<li>Group Visits and Tours</li>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Visit</p>
<p>A paragraph about what we're talking about</p>
<li>Item</li>
<li>Item</li>
<li>Item</li>
<li>Item</li>
<li>Item</li>

<hr>

<h1>Chapter 1: The Adventure Begins</h1>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Visit</p>
<p>A paragraph about what we're talking about</p>
<li>Item with a <a href="#">link</a></li>
<li>Item</li>
<li>Item</li>
<li>Item</li>
<li>Item</li>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Visit</p>
<p>A paragraph about what we're talking about</p>
<li>Item</li>
<li>Item</li>
<li>Item</li>
<li>Item</li>
<li>Item</li>
