<h1>Chapter 1: The Adventure Begins</h1>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Visit</p>
<p>We believe Fredonia needs to be experienced. If you are just beginning to wondering about us, coming for a visit to campus allows you to adventure on a 90-minute walking tour and listen to an information session with one of our admissions counselors. We also offer special events to give you just a litle bit more, such as our Open House events, where you are able to meet with academic departements.</p>
<li>Item with a <a href="#">link</a></li>
<li>Daily Weekday Visits</li>
<li>Select Saturday Visits</li>
<li>Open House Events</li>
<li>Group Visits and Tours</li>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Visit</p>
<p>A paragraph about what we're talking about</p>
<li>Item</li>
<li>Item</li>
<li>Item</li>
<li>Item</li>
<li>Item</li>

<hr>

<h1>Chapter 1: The Adventure Begins</h1>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Visit</p>
<p>A paragraph about what we're talking about</p>
<li>Item with a <a href="#">link</a></li>
<li>Item</li>
<li>Item</li>
<li>Item</li>
<li>Item</li>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Visit</p>
<p>A paragraph about what we're talking about</p>
<li>Item</li>
<li>Item</li>
<li>Item</li>
<li>Item</li>
<li>Item</li>
