<h1>Graduate Studies</h1>
<hr>
</hr>
<img src="http://www.fredonia.edu/gradstudies/images/bannern.png" class="img-responsive"/>
<hr>
</hr>
<p>Fredonia offers excellent master's degree programs in:
<ul>
  <li>Master of Arts</li>
  <li>Master of Arts in Teaching</li>
  <li>Master of Music</li>
  <li>Master of Science in Education</li>
  <li>Master of Science</li>
  <li>Certificates of Advanced Studies</li>
</ul>
<ul>
Please visit the <a href="http://www.fredonia.edu/gradstudies/">Graduate Studies Office</a> for more information on specific programs, how to apply and more!
</ul>
