<h1>Graduate Studies</h1>
<hr>
</hr>
<img src="http://www.fredonia.edu/gradstudies/images/bannern.png" class="img-responsive"/>
<hr>
</hr>
<p>Fredonia offers excellent master's degree programs in:
<ul>
  <lis>Master of Arts</lis>
  <lis>Master of Arts in Teaching</lis>
  <lis>Master of Music</lis>
  <lis>Master of Science in Education</lis>
  <lis>Master of Science</lis>
  <lis>Certificates of Advanced Studies</lis>
</ul>
<ul>
Please visit the <a href="http://www.fredonia.edu/gradstudies/">Graduate Studies Office</a> for more information on specific programs, how to apply and more!
</ul>
