<h2>Are you interested in bringing a group to campus?</h2>
<img src="http://www.fredonia.edu/admissions/GroupVisits.jpg" class="img-responsive"/>
<p>Complete our <a href="http://www.fredonia.edu/admissions/group_registration.asp">Group Visit Registration Form</a> to begin the process.</p>
<hr>
</hr>
<p>Generally Monday mornings are reserved for large groups, but we are happy to make accommodations for other days and times. Group requests should be made two weeks in advance.</p>
<p>Accommodations for changes made less than 48 hours before your visit may not be feasible.</p>
<p>Please notify group visit coordinator Jessica Gatto of any changes as soon as possible.</p>

Visits typically consist of:
  <ul>An hour-long information session with an admissions counselor</ul>
  <ul>A 90-minute walking tour of campus</ul>

<p>*Accommodations can be made to eat on campus if needed; we can provide you with lunch options and prices. </p>


