<h1>International</h1>
<hr>
<img src="https://static.askadmissions.net/fredonia/usermedia/templates/International/International%20Flag%20banner.jpg" class="img-responsive"/>
</hr>

<img src="https://static.askadmissions.net/fredonia/usermedia/templates/International/usa-map.jpg" class="img-responsive"/>
<hr>
</hr>
<p>Welcome!</p>
<p>Getting the American Experience...</p>
  <ul>Take trips to nearby attractions like New York City, Niagara Falls, Washington DC and more.
  Attend cultural events to share your culture and learn about others
  Make American friends to last a lifetime</ul>

To learn more about how to attend Fredonia, visit the <a href="http://www.fredonia.edu/internationaleducation/">Office of International Education</a>
