<h1>International</h1>
<hr>
</hr>
<img src="https://static.askadmissions.net/fredonia/usermedia/templates/International/usa-map.jpg" class="img-responsive"/>
<hr>
</hr>
<p>Welcome!</p>
<p>Getting the American Experience...</p>
  <ul>
    <li>Take trips to nearby attractions like New York City, Niagara Falls, Washington DC and more.</li>
    <li>Learn in a welcoming classroom environment</li>
    <li>Earn your bachelor's or master's degree from a United States university</li>
    <li>Attend cultural events to share your culture and learn about others</li>
    <li>Make American friends to last a lifetime</li>
</ul>
To learn more about how to attend Fredonia, visit the <a href="http://www.fredonia.edu/internationaleducation/">Office of International Education</a>



<h1>The Application Process for International students</h1>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Apply</p>
<p>Once you have decided you'd like to attend Fredonia, you may now apply! Below are step-by-step instructions to help you.</p>
<p>
<a href="https://www.suny.edu/applysuny/"> 
<img src="http://www.fredonia.edu/admissions/sunyapply.jpg" class="img-responsive">
</a>
</p>

<p>
<a href="https://www.commonapp.org/Login"> 
<img src="http://www.fredonia.edu/admissions/commonapp.jpg" class="img-responsive">
</a>
</p>
<ul>
	<li>Complete the Application (SUNY Application <b>OR</b> Common Application) - please DO NOT sumbit both. Application cost is $50. If you cannot apply on-line, you may download a paper copy, <a href="http://www.suny.edu/media/suny/content-assets/documents/application-forms/suny_application.pdf">here.</a></li>
	<li>Personal Essay (A short essay of at least 250 words on a topic of your choosing)</li>
	<li>Official High School Transcripts. *Include a certified translation if the original is not in English.</li>
	  <ul><b>First-year</b> applicants should provide secondary school transcripts and proof of graduation.</ul>
	  <ul><b>Transfer</b> applicants should provide university transcripts and transcript evaluation through World Education Services (WES) or a similar service for any college courses taken outside of the United States.  More information on WES can be found by visiting <a href="www.wes.org.">WES.org</a> High school transcripts are also required of applicants who have not completed a full year of study at the university level. </ul>
	<li>SAT and/or ACT Scores **Only for international students completing high school in the United States. (Must be sent from the Testing Center or High School)</li>
	<ul>
		<li>CEEB Code and SAT Code: 2539</li>
		<li>ACT Code: 2934</li>
	</ul>
	<li><a href="http://www.suny.edu/media/suny/content-assets/documents/international-student/FSA-4.pdf">Financial Statement Form</a> - Submit the Financial Statement form and original documentation proving you have funds to pay for all educational and living expenses for the first year of study. </li>
	<li>Passport - A clear photocopy of the identification page of your passport </li>
</ul>

<hr>

<p class="lead"><i class="fa fa-check-square-o"></i> Admissions Options</p>
<ol>
	<li><b>Direct Admission</b> - Direct Admission means that the student meets all the requirements for the academic program and can demonstrate English proficiency as noted below. </li>
		<ul>
			<li>SAT verbal score of 480 or, </li>
			<li>TOEFL score of 79 or,</li>
			<li>IELTS score of 6.5 or,</li>
			<li>Demonstrated English Proficiency at High Intermediate Level*</li>
		</ul>
	<hr>	
	<li><b>Conditional Admission</b> - Conditional admission means that the student meets all requirements for the academic program except for the English language requirement. The student can then be admitted to the academic program on the condition that he/she enrolls in the EC English language program at Fredonia until the required English language level has been reached. </li>
	<hr>
	<li><b>Concurrent Admission</b> - Concurrent admission means that the student meets all requirements for the academic program except has a low to intermediate English language proficiency. Concurrent admission students will take a combination of English language courses at EC English and major courses at Fredonia in the same semester.  Concurrent admission is rare and requires academic department approval.  Student's interested in the Concurrent Admission option should contact:  international.education@fredonia.edu for further details. </li>
	
</ol>
