<h1>International</h1>
<hr>
<img src="https://static.askadmissions.net/fredonia/usermedia/templates/International/International%20Flag%20banner.jpg" class="img-responsive"/>
</hr>

<img src="https://static.askadmissions.net/fredonia/usermedia/templates/International/usa-map.jpg" class="img-responsive"/>
<hr>
</hr>
<p>Welcome!</p>
<p>Getting the American Experience...</p>
  <ul>
    <li>Take trips to nearby attractions like New York City, Niagara Falls, Washington DC and more.</li>
    <li>Learn in a welcoming classroom environment</li>
    <li>Earn your bachelor's or master's degree from a United States university</li>
    <li>Attend cultural events to share your culture and learn about others</li>
    <li>Make American friends to last a lifetime</li>
</ul>
To learn more about how to attend Fredonia, visit the <a href="http://www.fredonia.edu/internationaleducation/">Office of International Education</a>
