<h1>Lifelong Learning and Special Programs</h1>
<hr>
<p>Continue to learn everyday...</p>
<ul>
  <li>To promote ongoing personal and professional enrichment, as well as professional skills development and enhancement, to all those served by the University.</li>
  <li>To offer continuing education and training programs that are contemporary, outcomes based, and consistent with the University's strengths and expertise.</li>
  <li>To augment the University's traditional offerings through specialized credit-bearing programs. </li>
</ul>
<p>For more information, visit the <a href="http://www.fredonia.edu/lifelong/index.asp">Office of Lifelong Learning and Special Programs</a>.</p>
<p>Get some classes completed over the <a href="http://www.fredonia.edu/lifelong/summer/">Summer</a> or <a href="http://www.fredonia.edu/lifelong/jterm/">J-term</a> Sessions</p>
<hr>

<div class="row">
<div class="col-md-6">
<img src="http://www.fredonia.edu/lifelong/summer/SummerSessions_2015_WebButton.jpg" class="img-responsive"/>
</div>
<div class="col-md-6">
<img src="https://static.askadmissions.net/fredonia/usermedia/templates/Universal/JTerm_WebImageButton_2015.jpg" class="img-responsive"/>
</div>
</div>
