<h2>Join us at one of our Open House Events!</h2>
<hr>
</hr>
<p>Open House Events provide an opportunity for prospective students and families to meet with academic departments, mingle with representatives from various student service departments, listen to a financial aid session, have lunch and then depart on a 90-minute walking tour of campus. Program's run 11 a.m. through 3 p.m.</p>
<hr>
</hr>
<h3><i class="fa fa-check-square"></i> Registration COMING SOON!</h3>
  <ol>Monday, October 12, 2015 (Columbus Day)</ol>
  <ol>Saturday, November 14, 2015</ol>
  <ol>Monday, February 15, 2016 (Presidents Day)</ol>
  <ol>Saturday, April 9, 2016 (Accepted Student Reception)</ol>
  
<p>A confirmation email will be sent upon online registration which will include parking information, a map of campus and an itineray of the day.</p>

