<h1>Readmission</h1>

<p>Leave and want to come back?</p>
<ul>
  <li>Students who have withdrawn from the university and wish to return begin the process by applying for Readmission/Reinstatement through the Office of Student Affairs.</li>
  <li>Applications are reviewed by the appropriate academic dean, department chairperson, and the Vice President for Student Affairs or designee</li>
</ul>

<p><i class="fa fa-pencil-square-o"></i>Please return this <a href="http://www.fredonia.edu/studentaffairs/forms/UNDERGRADUATE_Reinstatement.pdf">APPLICATION</a> to the Student Affairs Office.</p>
<ul>
  608 MAYTUM HALL,
  FREDONIA, NY 14063
  PHONE (716)673‐3271
  FAX (716)673‐3583
</ul>
