<h2>Visit us on a Saturday!</h2>
<hr>
</hr>
<p>Our Saturday Visits offer a welcome, information session with an admissions counselor, and a 90-minute walking tour of campus.<p/>
<p>We will be accepting registrations in late August.</p>
<hr>
</hr>
<p>Available Saturdays</p>
  <ol>Saturday, June 13, 2015 - June Preview Day (register now!)</ol>
  <ol>Saturday, September 26, 2015</ol>
  <ol>Saturday, October 24, 2015</ol>
  <ol>Saturday, October 31, 2015</ol>
  <ol>Saturday, March 5, 2016</ol>
  <ol>Saturday, March 12, 2016</ol>
  <ol>Saturday, April 23, 2016</ol>
<hr>
</hr>
<p><a href="http://www.fredonia.edu/maps/"><i class="fa fa-print"></i> Campus Map</p></a>
