<h1>Transfer</h1>
<hr>
<img src="https://static.askadmissions.net/fredonia/usermedia/templates/Universal/Transfer-Experience.jpg" class="img-responsive"/>
<hr>
<h1>Chapter 1: Visit Fredonia</h1>
<p class="lead"><i class="fa fa-check-square-o"></i> Visit</p>
<p>We believe Fredonia needs to be experienced. If you are curious about us, there are many opportuntities to help you discover if Fredonia is the right place for you.</p>
<ul>
	<li><a href="#">Daily Weekday Visits</a></li>
	<li><a href="#">Select Saturday Visits</a></li>
	<li><a href="#">Open House Events</a></li>
	<li><a href="#">Group Visits and Tours</a></li>
</ul>
<p>To schedule your <b>transfer-specific visit</b>, please call (716) 673-3251 or email admissions@fredonia.edu. A transfer visit includes:</p>
<ol>
	<li>An individualized meeting with one of our transfer admissions counselors</li>
	<li>A 90-minute walking tour of campus</li>
</0l>

<hr>
<h1>Chapter 2: The Application Process at Fredonia</h1>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Apply</p>
<p>Once you've decided Fredonia could be the place for you, you may begin to apply the first week in August. </p>
<ul>
	<li>Complete the Application (SUNY Application OR Common Application)</li>
	<li>Official Transcripts from ALL colleges you have attended</li>
	<li>Students with fewer than 30 credit hours are required to submit a high school transcript and official SAT/ACT test scores for the application review.</li>
	<li>All transfer students are required to submit proof of high school graduation. An official high school transcript, copy of diploma, or GED certificate are appropriate. </li>
	<li>Please reach out to transfer counselor Elizabeth Curtin-O'Brien with questions regarding the process. </li>
</ul>

