<h1>Transfer</h1>
<hr>
<h1>Chapter 2: The Application Process at Fredonia</h1>

<hr>
<p class="lead"><i class="fa fa-check-square-o"></i> Apply</p>
<p>Once you've decided Fredonia could be the place for you, you may begin to apply the first week in August. </p>
<ul>
	<li>Complete the Application (SUNY Application OR Common Application)</li>
	<li>Official Transcripts from ALL colleges you have attended</li>
	<li>Students with fewer than 30 credit hours are required to submit a high school transcript and official SAT/ACT test scores for the application review.</li>
	<li>All transfer students are required to submit proof of high school graduation. An official high school transcript, copy of diploma, or GED certificate are appropriate. </li>
	<li>Please reach out to transfer counselor Elizabeth Curtin-O'Brien with questions regarding the process. </li>
</ul>

