<p><a href="https://fredonia.sln.suny.edu/default.asp">ANGEL</a></p>
<p><a href="http://fredapps.fredonia.edu">FREDapps</a></p>
<p><a href="http://mail.fredonia.edu">FREDmail</a></p>
<p><a href="http://www.myfredcard.com">FREDcard</a></p>
<p><a href="https://fredquest.fredonia.edu/MRcgi/MRlogin.pl?PROJECTID=5">FREDquest</a></p>
<p><a href="http://www.fredonia.edu/library/">Library</a></p>
<p><a href="https://connect.fredonia.edu/"></a><a href="https://connect.fredonia.edu/yourconnection/">Your Connection</a></p>
<p><a href="tutortrac.fredonia.edu">SAGE</a></p>
