<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle navbar-toggle-center btn-success" data-toggle="collapse" data-target="#bs-example-navbar-collapse-bottom-admissions">
			<span class="sr-only">Toggle navigation</span>
			<span class="fa fa-sort"></span>
		</button>
	</div><!-- navbar-header -->
  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-bottom-admissions">
		<div class="center-block">
			<!-- Split button -->
			<a href="#visit" class="btn btn-default btn-success navbar-btn"><i class="fa fa-binoculars"></i> Visit</a>
			<a href="{{ site.baseurl }}/pages/faculty_staff.html" class="btn btn-default navbar-btn btn-success"><i class="fa fa-hand-o-up"></i> Apply</a>
			<a href="{{ site.baseurl }}/pages/students.html" class="btn btn-default navbar-btn btn-success"><i class="fa fa-graduation-cap"></i> Academics</a>
			<a href="{{ site.baseurl }}/pages/students.html" class="btn btn-default navbar-btn btn-success"><i class="fa fa-usd"></i> Cost & Aid</a>
		</div>

    	</div><!-- collapse navbar-collapse -->
  </div>
</nav>